<footer>
          <!-- when we call getCurrentYear hbs look first if a Helper exists with that name else looks for a data in the object passed  -->
          <p>Created by Amine Baloua - Copyright {{getCurrentYear}}</p>
</footer>