<!DOCTYPE html>
<htm>
    <head>
        <meta charset="utf-8">
        <title>Home page</title>
    </head>
    
    <body>
      {{> header}}
    <p>{{screamIt "welcome to home page"}}</p>
        
      {{> footer}}
    </body>
</htm>