<!DOCTYPE html>
<htm>
    <head>
        <meta charset="utf-8">
        <title>Maintenance page</title>
    </head>
    
    <body>
        <h1>Will be right back soon !</h1>
        <p>The website is currently being updated.</p>
        
    </body>
</htm>